@model IEnumerable<MVCBlog.Models.Tag>

<h5 class="mb-4">Browse by Tag</h5>

<form name="searchIndex" asp-action="SearchIndex" asp-controller="Posts">
    <!--Tags to show-->
    @{int maxTags = 20;}
    @foreach (var tag in Model)
    {
        if (maxTags == 0)
        {
            break;
        }
        else
        {
            <button class="btn btn-xs btn-info" type="submit" name="searchTerm" value="@tag.Text">@tag.Text</button>
            maxTags--;
        }
    }
</form>
